// Tipografía
 
$mainFont: 'Varela Round', sans-serif;
$FontSecondary: 'Merriweather', serif;
// Colores
 
$violet: #755DFF;
$lightViolet: #C9C0FFB7;
$lightOrange: #FFAB3E;
$darkOrange: #DD8B20;
$yellow: #FFCE00;
$whiteGray: #FFFFFFB2;
$blackgray: #292828;
$white: #FFF;

// Tamaños de Media Queries
 
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopLarge: 1200px;