@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    display: flex;
    justify-content: center;
    background-color: v.$violet;
  }
  .header .header__title {
    @include m.header(v.$white, true);
}